# Set default file-type attributes

# All file types
* text=auto

# Markups
*.md   text=auto diff=markdown
*.mdx  text=auto diff=markdown

# Solutions
*.sln   text=auto eol=crlf
*.slnx  text=auto

# Projects
*.*proj    text=auto
*.tasks    text=auto
*.props    text=auto
*.targets  text=auto

# Sources
*.cs    text=auto diff=csharp
*.csx   text=auto diff=csharp
*.resx  text=auto

# Scripts
*.in   text eol=lf
*.sh   text eol=lf
*.bat  text eol=crlf
*.cmd  text eol=crlf

# Images
*.png  binary
*.jpg  binary
*.gif  binary

# Keys
*.snk  binary
*.pfx  binary
*.cer  binary

# Others

# Preserve Line endings in diff and patch files
*.diff   -text
*.patch  -text

# Exclude git meta files from exporting
.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
