trigger:
- master
- rel/*

pr:
- master
- rel/*

pool:
  vmImage: windows-2019

variables: 
  BuildConfiguration: Release

steps:
- task: BatchScript@1
  inputs:
    filename: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Enterprise\\Common7\\Tools\\VsDevCmd.bat"
    arguments: -no_logo
    modifyEnvironment: true
  displayName: Setup Environment Variables
  
- task: NuGetToolInstaller@0
  displayName: Use NuGet 5.0.0
  inputs:
    versionSpec: 5.0.0

- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '3.1.200'
    performMultiLevelLookup: true
  displayName: Use .NET Core sdk 3

- task: DotNetCoreCLI@2  
  inputs:
    command: custom
    custom: tool
    arguments: install --tool-path . nbgv
  displayName: Install NBGV tool

- script: nbgv cloud
  displayName: Set Version

#- powershell: .\build\Install-WindowsSdkISO.ps1 18362
#  displayName: Insider SDK

- powershell: .\build\build.ps1 -target=Build
  displayName: Build

- powershell: .\build\build.ps1 -target=Test
  displayName: Test

- powershell: .\build\build.ps1 -target=Package
  displayName: Package

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'VSTest'
    testResultsFiles: '**/VsTestResults*.trx'
  displayName: Publish Test Results
  condition: succeededOrFailed()

- task: PowerShell@2
  displayName: Authenticode Sign Packages
  inputs:
    filePath: build/Sign-Package.ps1
  env:
    SignClientUser: $(SignClientUser)
    SignClientSecret: $(SignClientSecret)
    ArtifactDirectory: bin\nupkg
  condition: and(succeeded(), not(eq(variables['build.reason'], 'PullRequest')), not(eq(variables['SignClientSecret'], '')), not(eq(variables['SignClientUser'], '')))

- task: PublishBuildArtifacts@1
  displayName: Publish Package Artifacts
  inputs:
    pathToPublish: .\bin\nupkg
    artifactType: container
    artifactName: Packages
