trigger:
- master
- rel/*

pr:
- master
- rel/*

pool:
  vmImage: windows-2019

variables: 
  BuildConfiguration: Release

jobs:
- job: ToolkitBuild
  timeoutInMinutes: 120
  
  steps:
  - task: BatchScript@1
    inputs:
      filename: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Enterprise\\Common7\\Tools\\VsDevCmd.bat"
      arguments: -no_logo
      modifyEnvironment: true
    displayName: Setup Environment Variables

  - task: NuGetToolInstaller@1
    displayName: Use NuGet 5.6.0
    inputs:
      versionSpec: 5.6.0

  - task: NuGetAuthenticate@0
    displayName: 'NuGet Authenticate'
    inputs:
      forceReinstallCredentialProvider: true
  
  - task: DotNetCoreCLI@2
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
    displayName: Install NBGV tool

  - script: nbgv cloud
    displayName: Set Version

  #- powershell: .\build\Install-WindowsSdkISO.ps1 19041
  #  displayName: Insider SDK

  - powershell: |
     Write-Host "##vso[task.setvariable variable=PATH;]${env:LocalAppData}\Microsoft\dotnet;${env:PATH}";
     
     [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12; 
     
     dotnet new globaljson --sdk-version "$($env:NET5_SDK_VERSION)" 
     
     &([scriptblock]::Create((Invoke-WebRequest -UseBasicParsing 'https://dot.net/v1/dotnet-install.ps1'))) -Version "$($env:NET5_SDK_VERSION)" -Architecture "x64" -AzureFeed "$($env:NET5_SDK_FEED)"
     
    failOnStderr: true
    displayName: 'Install .NET 5 SDK'

  - powershell: .\build\build.ps1 -target=Build
    displayName: Build

#  - powershell: .\build\build.ps1 -target=Test
#    displayName: Test
#    timeoutInMinutes: 15

  - powershell: .\build\build.ps1 -target=Package
    displayName: Package

#  - powershell: .\build\build.ps1 -target=SmokeTest
#    displayName: SmokeTest

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'VSTest'
      testResultsFiles: '**/VsTestResults*.trx'
    displayName: Publish Test Results
    condition: always()

  - task: PublishPipelineArtifact@1
    displayName: Publish UI Test Results
    inputs:
      targetPath: .\build\UITestResults.wtl
      artifactName: WexLogFileOutput
    condition: always()

  - task: PublishPipelineArtifact@1
    displayName: Publish Test WexLogFileOutput
    inputs:
      targetPath: .\build\WexLogFileOutput
      artifactName: WexErrorLogFileOutput
    condition: failed()

  - task: PowerShell@2
    displayName: Authenticode Sign Packages
    inputs:
      filePath: build/Sign-Package.ps1
    env:
      SignClientUser: $(SignClientUser)
      SignClientSecret: $(SignClientSecret)
      ArtifactDirectory: bin\nupkg
    condition: and(succeeded(), not(eq(variables['build.reason'], 'PullRequest')), not(eq(variables['SignClientSecret'], '')), not(eq(variables['SignClientUser'], '')))

  - task: PublishBuildArtifacts@1
    displayName: Publish Package Artifacts
    inputs:
      pathToPublish: .\bin\nupkg
      artifactType: container
      artifactName: Packages

#  - task: CopyFiles@2
#    inputs:
#      sourceFolder: .\SmokeTests\AppPackages
#      contents: '**\*.msixbundle'
#      targetFolder: $(build.artifactstagingdirectory)\SmokeTestBundles

#  - task: PublishBuildArtifacts@1
#    displayName: Publish Smoke Test Artifacts
#    inputs:
#      pathToPublish: $(build.artifactstagingdirectory)\SmokeTestBundles
#      artifactType: container
#      artifactName: SmokeTestBundles
