<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
    <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="dotnet-windowsdesktop" value="https://dotnetfeed.blob.core.windows.net/dotnet-windowsdesktop/index.json" />
    <add key="aspnet-aspnetcore" value="https://dotnetfeed.blob.core.windows.net/aspnet-aspnetcore/index.json" />
    <add key="aspnet-aspnetcore-tooling" value="https://dotnetfeed.blob.core.windows.net/aspnet-aspnetcore-tooling/index.json" />
    <add key="aspnet-entityframeworkcore" value="https://dotnetfeed.blob.core.windows.net/aspnet-entityframeworkcore/index.json" />
    <add key="aspnet-extensions" value="https://dotnetfeed.blob.core.windows.net/aspnet-extensions/index.json" />
    <add key="gRPC repository" value="https://grpc.jfrog.io/grpc/api/nuget/v3/grpc-nuget-dev" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="WinUI.Dependencies@Local" value="https://microsoft.pkgs.visualstudio.com/_packaging/WinUI.Dependencies%40Local/nuget/v3/index.json" />
    <add key="WindowsToolkitInternal" value="https://microsoft.pkgs.visualstudio.com/Pax/_packaging/WindowsToolkitInternal/nuget/v3/index.json" />
    <add key="VS@Local" value="https://devdiv.pkgs.visualstudio.com/_packaging/VS%40Local/nuget/v3/index.json" />
    <add key="dotnet5@Local" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5%40Local/nuget/v3/index.json" />
  </packageSources>
</configuration>