body {

    font-size: 11pt;

    margin: 0;

    padding: 0;

    font-weight: 400;

}

h1 {

    font-size: 2.87em;

    font-weight: 100;

    margin-bottom: 32px;

    margin-top: 44px;

}



h2 {

    font-size: 1.9em;

    font-weight: 100;

}



h2 .step {

    border: 1px solid #505050;

    border-radius: 50%;

    display: inline-block;

    height: 1.5em;

    width: 1.5em;

    line-height: 1.4;

    margin-right: 10px;

    text-align: center;

}



h3 {

    font-size: 1.5em;

    margin-bottom: 20px;

}



h4 {

    font-size: 1.17em;

}



p {

    margin-bottom: 20px;

}



li {

    margin-bottom: 20px;

}



.hidden {

    display: none;

}



.default-body {

    background-color: #fff;

}



.default-main {

    width: 100%;

}



.default-max-width {

    max-width: 1440px;

    margin: 0 auto;

}



.content-container, .content-container > .row > h1 + div {

    padding-left: 0;

    padding-right: 0;

}



    .content-container > .row {

        margin-left: 0;

        margin-right: 0;

    }


.chrome-header-wrapper .shell-header-wrapper, .chrome-footer-wrapper .shell-footer-wrapper, .shell-category-nav {

    max-width: 1440px !important;

}


.btn {

    border-radius: 0;

}



a:link else, a:visited {

    color: #0078D7;

}



a:link {

    color: #006cd8;

}



.bold {

    font-weight: bold;

    font-size: 18px;

}


a:hover {

    text-decoration: none;

}



.image-border {

    border: 1px solid rgb(225,225,225);

}



.device {

    padding-left: 0;

}



.section-heading {

    margin-bottom: 50px;

}

.faq-h2 {

    background-color: #9E9E9E;

    color: #fff;

    padding: 10px;

    margin-bottom: 20px;

}



.faq-nav {

    position: fixed;

}



    .faq-nav > a > h4 {

        margin-bottom: 20px;

    }


.highlight {

    background-color: #9E9E9E;

    color: #fff;

    padding: 10px;

    margin-top: 20px;

    margin-bottom: 20px;

    border-radius: 0;

}



.inactive {

    color: #BFBFBF;

}

.active {

    color: #000;

}

.steps {

    font-weight: lighter;

}



h4.steps:hover {

    color: #000;

}



h3.steps:hover {

    color: #000;

}



h2.steps:hover {

    color: #000;

}



.downloads-background {

    background-color: #f1f1f1;

    width: 100%;

    margin-left: 0;

    margin-right: 0;

    margin-bottom: 50px;

    padding: 20px;

}



.standardTH {

    width: 40%;

}



.largeTH {

    width: 85% !important;

}



.table-striped > tbody > tr > th {

    border-color: transparent;

}



.table-striped > tbody > tr > td {

    border-color: transparent;

}



.bottom-border {

    border-bottom: 1px solid rgb(230,230,230);

    padding-bottom: 10px;

}



h1.thin-header {

    font-weight: 100;

    font-size: 40px;

    margin-bottom: 20px;

}



h2.thin-header {

    font-weight: lighter;

    font-size: 32px;

}



h3.thin-header {

    font-weight: lighter;

    border-bottom: 1px solid rgb(230,230,230);

    padding-bottom: 10px;

    margin-top: 10px;

    margin-bottom: 20px;

    font-size: 32px;

}



h4.thin-header {

    font-weight: lighter;

    font-size: 32px;

    border-top: 1px solid rgb(230,230,230);

    padding-top: 20px;

    margin-top: 20px;

}



p.thin-header {

    font-size: 18px;

    margin-bottom: 20px;

}



table.maker-kit > tbody > tr:nth-of-type(odd) {

    background-color: rgb(241,241,242);

}



table.maker-kit > tbody > tr > th {

    font-weight: 200;

    color: rgb(000,000,000);

}



ul.maker-kit > li > a > h3 {

    text-align: left;

}



.floatTop {

    margin-top: 16%;

}



ul.maker-kit > li > a {

    padding-left: 0;

}



img.maker-kit {

    margin-bottom: 20px;

    max-width: 100%;

    max-height: 100%;

}



.lineTop {

    border-top: 1px solid rgb(230,230,230);

}



iframe.maker-kit {

    padding-left: 15px;

    padding-right: 15px;

    border: none;

    overflow: hidden;

}



.col-3-image {

    height: 147px;

    margin-left: auto;

    margin-right: auto;

}





.projectRow {

    margin-top: 20px;

    margin-bottom: 20px;

}



    .projectRow > div > h2 {

        margin-top: 30%;

    }



.button-flat {

    border-radius: 0;

    display: inline-block;

    font-size: 1em;

    font-weight: 400;

    line-height: normal;

    padding: .5em 1.5em;

    margin-right: 0.8em;

    min-width: 100%;

    margin-bottom: 0.8em;

    text-align: center;

}



.button-blue {

    border-style: solid;

    border-width: 2px;

    border-color: #0078d7;

    background-color: #0078d7;

    color: #fff !important;

}



.button-flat:hover {

    border-color: #004E8C;

    cursor: pointer;

}



.button-flat:active {

    background-color: gray !important;

    border-color: gray !important;

}



.section-title {

    margin-top: 0px;

}



.comparison-picture {

    width: 324px;

    height: 231px;

}



.subtext {

    color: gray;

    margin-bottom: 64px;

    margin-top: 0;

}



.divider {

    border-bottom-style: solid;

    padding-bottom: 10px;

    border-bottom-width: 2px;

    border-bottom-color: #0078d7;

}



div.preview {

    height: 150px;

}



#hth-welcome {

    color: black;

    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;

    background: -webkit-linear-gradient(white,white,rgb(230,230,230)); /* For Safari 5.1 to 6.0 */

    background: -o-linear-gradient(white,white,rgb(230,230,230)); /* For Opera 11.1 to 12.0 */

    background: -moz-linear-gradient(white,white,rgb(230,230,230)); /* For Firefox 3.6 to 15 */

    background: linear-gradient(white,white,rgb(230,230,230)); /* Standard syntax */

}



    #hth-welcome > .row > h1 {

        color: rgb(0,120,215);

        font-size: 75px;

        margin-top: 40px;

        text-align: left;

    }



    #hth-welcome > .row > h4 {

        text-align: left;

    }



.hth-major-text {

    font-weight: lighter;

    font-size: 22px;

}



#hth-feature-block {

    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;

    background: -webkit-linear-gradient(rgb(230,230,230),white); /* For Safari 5.1 to 6.0 */

    background: -o-linear-gradient(rgb(230,230,230),white); /* For Opera 11.1 to 12.0 */

    background: -moz-linear-gradient(rgb(230,230,230),white); /* For Firefox 3.6 to 15 */

    background: linear-gradient(rgb(230,230,230),white); /* Standard syntax */

    margin-top: -20px;

    text-align: justify;

    padding-bottom: 30px;

}



    #hth-feature-block > .row > .col-md-8 > .hth-major-text {

        font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;

    }



    #hth-feature-block > h1 {

        color: rgb(0,120,215);

        font-size: 60px;

        padding-top: 20px;

    }



.featured-project {

    font-size: 72px;

}



.featured-image {

    margin-top: 20px;

    margin-bottom: 30px;

}



.hth-project-image {

    margin-left: 25px;

    max-height: 220px;

}



#hth-list-block > h1 {

    text-align: center;

    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;

    color: rgb(0,120,215);

    font-size: 60px;

}



#hth-list-block > .row > .col-sm-4 > p {

    display: block;

}



.row-inline {

    white-space: nowrap;

    overflow: scroll;

    display: inline-block;

}



.card {

    background-color: rgb(245,245,245);

    margin-bottom: 12px;

    margin-top: 18px;

    box-shadow: 1px 2px 1px .5px rgba(0, 0, 0, 0.2);

    border: 1px solid rgb(190,190,190);

    border-bottom-left-radius: 2px;

    border-bottom-right-radius: 2px;

}



.block-image {

    width: inherit;

}



.card > .block-image > img {

    margin-left: auto;

    margin-right: auto;

    max-height: 250px;

    max-width: 100%;

    display: block;

    width: 100%;

}



.card-body {

    padding: 5px;

}



    .card-body > .row > .col-xs-4 {

        padding-left: 0;

        padding-right: 0;

    }



.center {

    margin-left: auto;

    margin-right: auto;

    display: block;

}



.tile-display {

    margin-top: 15px;

    border: 1px solid rgb(210,210,210);

    background-color: rgb(230,230,230);

    border-radius: 3px;

    padding: 10px;

    height: 100%;

    padding-left: 10px;

    padding-right: 10px;

}



    .tile-display > .row {

        margin-left: 0;

        margin-right: 0;

    }



.authors {

    color: rgb(165,165,165);

}



.devices-row {

    margin-bottom: 20px;

    margin-top: 10px;

}



.row-no-margin {

    margin-left: 0;

    margin-right: 0;

}



.btn-group-justified {

    margin-left: auto;

    margin-right: auto;

    display: block;

}



    .btn-group-justified > .btn {

        width: 30%;

        margin: 2px;

    }



.filter-button {

    margin: 10px;

}



    .filter-button > .dropdown-menu {

        padding: 5px;

    }



        .filter-button > .dropdown-menu > li {

            cursor: pointer;

        }



#device-center-link {

    margin-top: 4px;

    margin-bottom: 24px;

}



.col-no-padding {

    padding-left: 0;

    padding-right: 0;

}



.breadcrumb {

    background-color: transparent;

    margin-top: 32px;

    padding-left: 0;

    margin-bottom: 0;

    padding-top: 0;

    padding-bottom: 0;

}



    .breadcrumb > .active {

        color: inherit;

    }



    .breadcrumb > li + li:before {

        content: ">\00a0";

        color: inherit;

    }



    .breadcrumb > li {

        margin-bottom: 0;

    }



/*.setup-content-list {

  padding-left: 0;

}*/



/*.setup-content-list > .row > .col-md-6 {

          padding-left: 0;

        }*/



#app-content > .row {

    margin-left: 0;

    margin-right: 0;

}



#pc-content > .row {

    padding-left: 0;

    margin-left: 0;

    margin-right: 0;

}



.inline-list {

    padding-left: 20px;

}



.toggle-button {

    cursor: pointer;

}



.maker-image {

    max-height: 205px;

}



@media (max-width: 800px) {

    .hth-project-image {

        max-height: 100%;

    }



    .featured-project {

        font-size: 60px;

    }



    .steps {

        font-size: 24px;

    }



    h2.maker-kit {

        font-size: 24px;

    }



    h3.maker-kit {

        font-size: 24px;

    }



    .tile-display {

        border: none;

        background-color: transparent;

    }



    #device-center-link {

        width: 100%;

    }



    img {

        margin-left: auto;

        margin-right: auto;

		border:1px solid #6c6c6c;

    }



    .col-3-image {

        height: 100%;

        width: 100%;

    }

}



.condensed-list > li {

    margin-bottom: 5px;

}



#iot_iot_home {

    background-color: #0060AC;

    font-weight: 600;

}



@font-face{

    font-family: IOTMDL2Font;

    src: url(https://halcyon-img-int.azurewebsites.net/sites/iot/resources/fonts/IOTMDL2.1.68.tff);

}



@font-face{

    font-family: SegMDL2Font;

    src: url(https://halcyon-img-int.azurewebsites.net/sites/iot/resources/fonts/SegMDL2.1.54.tff);

}





/* [BUGFIXES] */



/* From bootstrap  - this broad style will be overridden by more specific styles below in some cases */

body h1, body h2, body h3 {

    margin-top: 20px;

    margin-bottom: 10px;

}







    /* Targeted fix to replace the broad "h1" rule in main.css which applies to page titles. The style previously in place gets overridden by WebCore's default styles */

    body h1.page-title {

        margin-top: 44px;

    }



/* This strips the h1 margin-top applied in the class if it falls within .spacer-84-top */

/* Not working correctly for all pages, makes some worse */

/*body .container.spacer-84-top h1:first-of-type{

    margin-top: 0px;

}*/



/* Spacing issues */

body p {

    margin-bottom: 20px;

}



body h1 {

    margin-bottom: 32px;

	margin-top: 44px;

}


body h3 {

    margin-bottom: 20px;

}



body h4, body h5, body h6 {

    margin-top: 10px;

    margin-bottom: 10px;

}



/* List style issues */

body ul, body ol {

    padding-left: 40px;

}



body ul {

    list-style: disc;

}



    body ul ul, body ol ul {

        list-style: circle;

    }



        body ul ul ul, body ul ol ul, body ol ul ul, body ol ol ul {

            list-style: square;

        }



    body ul li {

        margin-bottom: 20px;

    }





/* <code> override */

body code {

    color: #c7254e;

    background-color: #f9f2f4;

    font-size: 90%;

}



/* Bug #5779524: Issue 2 */

body dt {

    font-weight: bold;

}



/* Bug #5811636: <kbd> override */

body kbd {

    background-color: #333;

    color: #fff;

    font-size: 90%;

    border-radius: 3px;

    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0, .25);

    box-shadow: inset 0px -1px 0px rgba(0,0,0,0.25);

}



/* Table header alignment (Bug 5802138) */

body th {

    text-align: left;

}



/* Breadcrumb alignment (Bug 5754552)

   Removed top: auto style because it crowded the UHF affecting all pages with the breadcrumb */

body .breadcrumb {

    position: relative;

}



/* Bug #5782289: Device image max-width override */

body .device-images {

    max-width: 600px;

}



/* Define custom alerts */

body .alert {

    padding-right: 1em;

	padding-left: 1em;

    margin-top: 0.6em;

    margin-bottom: 1.2em;

    border-width: 1px;

    border-style: solid;

    border-radius: 2px;

    font-size: 0.9em;

    line-height: 1.6em;

    border-color: rgba(0, 0, 0, .05);

    background: #f5f5f5;

    color: #333;

}



body .alert h5 {

    font-weight: bolder;

	line-height: 1.2;

}





body .alert-note {

    border-color: rgba(0, 0, 0, .05);

    background: #f3fbff;

    color: #0070a7;

}



span.win-icon {

    margin-right: 8px;

}



body .alert-warning {

    border-color: rgba(0, 0, 0, .05);

    background: #f2dede;

    color: #a94442;

}



body .alert-tip {

    border-color: rgba(0, 0, 0, .05);

    background: #dff0d8;

    color: #3c763d;

}
