
# Analyzer Configurations for Unit Test sources

# C# Source Files
[*.cs]

# A C# partial element is missing a documentation header.
dotnet_diagnostic.SA1601.severity = none

# The Parameter has no matching param tag in the XML comment.
dotnet_diagnostic.CS1573.severity = none

# Missing XML comment for publicly visible type or member.
dotnet_diagnostic.CS1591.severity = none

# The Type parameter has no matching typeparam tag in the XML comment.
dotnet_diagnostic.CS1712.severity = none
