<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="52b9212c-97a9-4639-9426-3e1ea9c1569e" Publisher="CN=Nikola" Version="2.2.0.0" />
  <mp:PhoneIdentity PhoneProductId="52b9212c-97a9-4639-9426-3e1ea9c1569e" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Microsoft.Toolkit.Uwp.SampleApp</DisplayName>
    <PublisherDisplayName>davca</PublisherDisplayName>
    <Logo>Assets\UWPCommunityToolkitSampleAppStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Microsoft.Toolkit.Uwp.SampleApp.App">
      <uap:VisualElements DisplayName="Windows Community Toolkit Sample App" Square150x150Logo="Assets\UWPCommunityToolkitSampleAppMedTile.png" Square44x44Logo="Assets\UWPCommunityToolkitSampleAppAppList.png" Description="This app demonstrates the controls, services and APIs available in the Windows Community Toolkit. The toolkit is available as NuGet package for your C# or VB.NET projects. Source code of the toolkit and the sample app is available on GitHub." BackgroundColor="#3750D1">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\UWPCommunityToolkitSampleAppBadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\UWPCommunityToolkitSampleAppWideTile.png" Square310x310Logo="Assets\UWPCommunityToolkitSampleAppLargeTile.png" Square71x71Logo="Assets\UWPCommunityToolkitSampleAppSmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\UWPCommunityToolkitSampleAppSplashScreen.png" BackgroundColor="#3750D1" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="uwpct">
            <uap:DisplayName>Windows Community Toolkit</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="Microsoft.Toolkit.Uwp.Samples.BackgroundTasks.TestBackgroundTask">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="bluetooth" />
  </Capabilities>
</Package>